In [ ]:
Data Science Tool and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

OBJECTIVES:

Data science languages such as python
libraries such as pandas
Data science tools
Some of the popular languages that Data Scientists use are:

Python
R
SQL
Some of the commonly used libraries used by Data Scientists include:

Numpy
Pandas
Sci-py
matplotlib
Seaborn
DATA SCIENCE TOOLS
tableu
powerBI
matlab

Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
# Arithmetic operations
code = compile("5 + 4", "<string>", "eval")
eval(code)

In [5]:
(3*4)+5

17

In [ ]:
 #Take user input for two numbers
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

# Multiply the two numbers
product = num1 * num2

# Add the two numbers
sum = num1 + num2

# Print the results
print("The product of {} and {} is {}".format(num1, num2, product))
print("The sum of {} and {} is {}".format(num1, num2, sum))

In [6]:
days = 0
hours = 0
mins = 0

time = 200
#days = time / 1440
leftover_minutes = time % 1440
hours = leftover_minutes / 60
#mins = time - (days*1440) - (hours*60)
print(str(days) + " days, " + str(hours) + " hours, " + str(mins) +  " mins. ")

0 days, 3.3333333333333335 hours, 0 mins.

<h2>Author</h2>
Gowthami